[run]
source = ../../src
         .
	 
data_file = .cov_reg_out

parallel = true

[report]
omit =
    */__init__.py
    */.tox/*
    */setup.py

exclude_lines =
    if __name__ == .__main__.:

[html]    
directory = cov_reg
